openapi: 3.0.3
info:
  description: This API collects the search and purchase history in order to collect it's marketability
  version: "1.0.0"
  title: Grocery API
  contact:
    email: lvu17@my.bcit.ca
paths:
  /product/search:
    post:
      summary: Reports a batch of data from searches
      operationId: app.report_search_readings
      description: Adds a batch of search readings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchEventBatch'
      responses:
        '201':
          description: batch successfully received
        '400':
          description: 'invalid input, object invalid'
    
  /product/sold:
    post:
      summary: Reports a batch of product that have been sold 
      operationId: app.report_sold_readings
      description: Adds a batch of products sold readings
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurchaseEventBatch'
      responses:
        '201':
          description: batch successfully received
        '400':
          description: 'invalid input, object invalid'
          

components:
  schemas:
    SearchEventBatch:
      type: object
      required:
        - store_id
        - store_name
        - reporting_timestamp
        - search_readings
      properties:
        store_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        store_name:
          type: string
          example: "Downtown Store"
        reporting_timestamp:
          type: string
          format: date-time
          example: "2025-08-29T09:12:33.001Z"
        search_readings:
          type: array
          items:
            $ref: "#/components/schemas/SearchReading"
          example:
            - product_id: "P12345"
              search_count: 15
              recorded_timestamp: "2025-08-29T09:12:33.001Z"
            - product_id: "P98765"
              search_count: 8
              recorded_timestamp: "2025-08-29T09:15:33.001Z"
    PurchaseEventBatch:
      type: object
      required:
        - store_id
        - store_name
        - reporting_timestamp
        - purchase_readings
      properties:
        store_id:
          type: string
          format: uuid
          example: "d290f1ee-6c54-4b01-90e6-d701748f0851"
        store_name:
          type: string
          example: "Downtown Store"
        reporting_timestamp:
          type: string
          format: date-time
          example: "2025-08-29T09:12:33.001Z"
        purchase_readings:
          type: array
          items:
            $ref: "#/components/schemas/PurchaseReading"
          example:
            - product_id: "P12345"
              purchase_count: 3
              recorded_timestamp: "2025-08-29T09:13:10.001Z"
            - product_id: "P98765"
              purchase_count: 1
              recorded_timestamp: "2025-08-29T09:17:45.001Z"

    SearchReading:
      type: object
      required:
        - product_id
        - search_count
        - recorded_timestamp
      properties:
        product_id:
          type: string
          example: "P12345"
        search_count:
          type: integer
          example: 15
        recorded_timestamp:
          type: string
          format: date-time
          example: "2025-08-29T09:12:33.001Z"

    PurchaseReading:
      type: object
      required:
        - product_id
        - purchase_count
        - recorded_timestamp
      properties:
        product_id:
          type: string
          example: "P12345"
        purchase_count:
          type: integer
          example: 3
        recorded_timestamp:
          type: string
          format: date-time
          example: "2025-08-29T09:13:10.001Z"
